<ul>
  <li class=""><a href="docs/getting-started" class="doc__nav-item">Getting started</a></li>
  <li class=""><a href="docs/installation" class="doc__nav-item">Installation</a></li>
  <li class=""><a href="docs/features" class="doc__nav-item">Features</a></li>
  <li class=""><a href="docs/components" class="doc__nav-item">Components</a></li>
  <li class=""><a href="docs/stores" class="doc__nav-item">Stores</a></li>
  <li class=""><a href="docs/event-bus" class="doc__nav-item">Event bus</a></li>
  <li class=""><a href="docs/modules" class="doc__nav-item">Modules</a></li>
  <li class=""><a href="docs/browser-support" class="doc__nav-item">Browser support</a></li>
  <li class=""><a href="docs/going-build-less" class="doc__nav-item">Going build-less</a></li>
  <li class=""><a href="docs/legacy-browsers" class="doc__nav-item">Legacy browsers</a></li>
  <li class=""><a href="https://github.com/ducksoupdev/ficusjs/CHANGELOG.md" target="_blank" rel="noopener noreferrer" class="doc__nav-item">Changelog</a></li>
</ul>