<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components</title>
</head>
<body>
<test-comp></test-comp>
<script type="module">
  import { html, render as renderer } from 'https://unpkg.com/htm/preact/standalone.module.js'
  import { createComponent } from '../../../dist/component.js'

  createComponent('test-comp', {
    renderer,
    handleClick (e) {
      window.alert('You clicked!')
    },
    mounted () {
      console.log('has mounted')
    },
    render () {
      return html`<div>
        <p>Test component</p>
        <button type="button" onClick="${this.handleClick}">Click me!</button>
      </div>`
    }
  })
</script>
</body>
</html>