<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components</title>
</head>
<body>
<test-comp></test-comp>
<script type="module">
  import { render as renderer, html } from 'https://unpkg.com/uhtml?module'
  import { createComponent } from '../../../dist/component.js'

  createComponent('test-comp', {
    renderer (what, where) {
      renderer(where, what)
    },
    handleClick (e) {
      window.alert('You clicked!')
    },
    mounted () {
      console.log('has mounted')
    },
    render () {
      return html`<div>
        <p>Test component</p>
        <button type="button" onclick="${this.handleClick}">Click me!</button>
      </div>`
    }
  })
</script>
</body>
</html>