html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* layout */
.header {
  border-bottom: 1px solid var(--code-bg-color);
  display: block;
  grid-template-columns: none;
}

.header .wrapper {
  display: grid;
}

.wrapper__content {
  display: flex;
  line-height: 1.5;
}

/* logo */
.logo {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.4em;
  grid-column: 1;
  white-space: nowrap;
  margin: auto 0;
}

.logo::before {
  display: inline-block;
  content: '';
  background: url('../img/logo.svg') no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  vertical-align: bottom;
  margin-right: 7px;
}

.logo__thin {
  font-family: sans-serif;
  font-weight: 300;
}

/* menu */
.menu {
  grid-column: 2;
}

.menu__item {
  padding: 1.5rem 1rem;
}

/* doc */
.doc__bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 28%;
  background-color: var(--bg-color);
  z-index: -1;
}

.doc__nav {
  width: 25%;
  font-weight: 200;
}

.doc__nav ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.8;
}

.doc__nav ul.fixed {
  position: fixed;
  top: 2rem;
}

.doc__nav li:hover > .doc__nav-item {
  color: var(--primary-color-light);
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.doc__nav li ul {
  margin-left: 1em;
}

.doc__nav .selected {
  position: relative;
}

.doc__nav .selected > .doc__nav-item,
.doc__nav .active > .doc__nav-item {
  color: var(--accent-color);
}

.doc__nav .selected:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-color);
  left: -1.5rem;
  top: 0.3rem;
}

.doc__content {
  width: 75%;
  padding: 0 0 5rem 1rem;
}

.doc__content a {
  text-decoration: underline;
}

.doc__content a:hover {
  color: var(--primary-color-light);
}

.cd-top {
  position: fixed;
  bottom: var(--cd-back-to-top-margin);
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: var(--cd-back-to-top-size);
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background: var(--accent-color) url('../img/angle_up.svg') no-repeat center 50%;
  background-size: 32px;
  visibility: hidden;
  opacity: 0.8;
  transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

.cd-top:hover {
  background-color: var(--accent-color);
  opacity: 1;
}

@media (max-width: 980px) {
  .wrapper__content {
    display: block;
  }
  .doc__content {
    width: auto;
    padding-left: 0;
  }
  .doc__nav {
    width: auto;
  }
  .doc__nav ul {
    border-bottom: 1px solid var(--code-bg-color);
    padding-bottom: 0.5rem;
  }
  .doc__nav ul.fixed {
    /* nutralized the fixed menu for mobile*/
    position: relative;
    top: 0;
  }
  .doc__nav li {
    display: inline-block;
    padding-right: 1rem;
  }
  .doc__nav .selected:after {
    display: none;
  }
  .doc__nav li ul {
    display: none;
  }
}
