<nav-filter></nav-filter>
<div class="fc-nav__container">
  {% for name, items in nav %}
    <h2 class="fu-text-h6 fu-text-transform-uppercase fu-spacing-mt-07 fu-spacing-ml-03 fu-spacing-mr-03 fu-spacing-mb-03 fu-lg-spacing-mt-00 fu-lg-spacing-ml-07 fu-lg-spacing-mr-07">{{ name }}</h2>
    <nav class="[ fc-nav ] [ fu-spacing-mb-07 fu-lg-spacing-ml-06 fu-lg-spacing-mr-06 ]">
      <ul class="fc-nav__list">
        {% for entry in items %}
          <li><a href="{{ entry.url }}" class="doc__nav-item">{{ entry.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% endfor %}
</div>
