/* nav specialized to landing page */
.logo {
  background: url('../img/logo.svg') no-repeat;
  background-size: contain;
  margin: 1rem 0 0 1rem;
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: var(--bg-color);
}

/* hero section */
.hero {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0 10rem 0;
  line-height: 1.5;
}

.hero__title {
  font-weight: 900;
  color: var(--primary-color);
}

.hero__title .logo {
  margin: 0;
  width: 40px;
  display: inline-block;
  height: 40px;
  vertical-align: bottom;
}

.hero__description {
  margin: -1rem auto 2rem auto;
  font-size: 120%;
  width: 90%;
}

.hero__terminal {
  width: 60%;
  margin: -9rem auto 3rem auto;
  background-color: #111111;
}

/* feature section */
.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}

/* callout section */
.callout {
  text-align: center;
  padding: 1rem 0 3rem 0;
}

.callout .button--primary {
  display: inline-block;
  margin-top: 0.5rem;
}

/* changelog section */
.changelog {
  background-color: var(--bg-color);
  padding: 2rem 0;
}

.changelog__item {
  display: flex;
}

.changelog__meta {
  flex-basis: 25%;
}

.changelog__meta small {
  color: var(--primary-color-light);
  font-weight: 200;
  letter-spacing: 1px;
}

.changelog__title {
  margin-bottom: 0;
}

.changelog__callout {
  margin: 3rem auto 2rem auto;
  text-align: center;
}

.checkmark {
  list-style: none;
  padding: 0;
  margin: 0 auto 3rem auto;
  width: 90%;
}

.checkmark li:before {
  content: url('../img/checkmark.svg');
  width: 16px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
}

@media (max-width: 750px) {
  .hero__terminal {
    width: 90%;
  }
  .tab__container > ul {
    right: auto;
    left: 0;
    padding-left: 0;
  }
  .tab__container .code {
    margin-top: 2rem;
  }
  .feature, .keybinding, .changelog__item {
    flex-direction: column;
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
  .keybinding {
    font-size: 0.8rem;
  }
}
